<%= form_for [@project, @task] do |f| %>
  <%= error_messages_for @task %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, size: 60 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => "6" %>
  </div>

  <% number = 0 %>
    <div id='files'>
      <%= f.fields_for :assets, :child_index => number do |asset| %>
        <p>
          <%= asset.label :asset, "Arquivo ##{number += 1}" %>
          <%= asset.file_field :asset %>
        </p>
      <% end %>
    </div>
    <%= link_to "Add mais arquivos", 'javascript:', :id => "add_another_file" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

