<h2>Editando o chamando no projeto <%= @project.title %></h2>
<% content_for :breadcrumb do %>
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to @project.title, @project %> <span class="divider">/</span></li>
  <li><%= link_to @task.title, [@project, @task] %> <span class="divider">/</span></li>
  <li class="active">Editar</li>
<% end %>
<%= render "form" %>

