<% content_for :breadcrumb do %>
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
   <li><%= link_to @project.title, @project %> <span class="divider">/</span></li>
  <li class="active"><%= @task.title %></li>
<% end %>
<div class="task">
  <h2>
    <%= @task.title %>
    <%= authorized?("delete tasks", @project) do %>
      <%= link_to_icon "deletar", [@project, @task], :method => :delete, :confirm => t('delete') %>
    <% end %>
    <%= authorized?("edit tasks", @project) do %>
      <%= link_to_icon "editar", [:edit, @project, @task] %>
    <% end %>
  </h2>
  <div class="description">
    <%= simple_format(@task.description) %>
    <div class="user-name">
      <small>Criado pelo usuário <%= @task.user.name %></small>
    </div>

    <% if @task.assets.exists? %>
    <h3>Attached Files</h3>
    <div class="assets">
      <% @task.assets.each do |asset| %>
      <p>
        <%= link_to File.basename(asset.asset_file_name), asset.asset.url %>
        <%= link_to "Download", asset.asset.url(:original, false) %>
        
      </p>
      <p>
        <small><%= number_to_human_size(asset.asset.size) %></small>
      </p>
      <% end %>
    </div>
    <% end %>
  </div>
    
</div>
