<% content_for :breadcrumb do %>
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to @project.title, @project %> <span class="divider">/</span></li>
  <li class="active"><%= @task.title %></li>
<% end %>

<div class="task">
  <h2>
    <%= @task.title %>
    <%= authorized?("delete tasks", @project) do %>
      <%= link_to_icon "deletar", [@project, @task], :method => :delete, :confirm => t('delete') %>
    <% end %>
    <%= authorized?("edit tasks", @project) do %>
      <%= link_to_icon "editar", [:edit, @project, @task] %>
    <% end %>
  </h2>

  <div class="description">
    <%= simple_format(@task.description) %>
    <div class="user-name">
      <small>Criado pelo usuário <%= @task.user.name %></small>
    </div>

    <% if @task.assets.exists? %>
      <%= content_tag :h3 do %>
        <%= image_tag("projects_icons/arquivos_anexos.png",{ :title => "Arquivos anexados" }) %>
        <%= t('attached_files') %>
      <% end %>

      <div class="assets">
        <table class="assets_table">
          <thead>
            <th>Arquivo</th>
            <th>Tamanho</th>
            <th>Download</th>
          </thead>
          <% @task.assets.each do |asset| %>
            <tbody>
              <tr class='<%= cycle("odd", "even") %>'>
                <td><%= File.basename(asset.asset_file_name) %></td>
                <td><small><%= number_to_human_size(asset.asset.size) %></small></td>
                <td><%= link_to_icon "download", asset.asset.url %></td>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>

      <div id='watchers'>
        <%= toggle_watching_button %>
        <h4>Watchers</h4>
        <ul>
          <% @task.watchers.each do |watcher| %>
            <li><%= watcher %></li>
          <% end %>
        </ul>
      </div>

      <h3>Comments</h3>
      <div id='comments'>
        <% if @task.comments.any? %> <co id='ch10_191_1' />
          <%= render @task.comments.select(&:persisted?) %>
        <% else %>
          There are no comments for this ticket.
        <% end %>
      </div>
    </div>
  </div>
  <%= render "comments/form" %>
