<div id="admin_home">
  <%= content_tag :h1 do %>
    <%= image_tag("projects_icons/usuarios.png",{ :title => "Usuarios" }) %>
    <%= t('users') %>
    <%= link_to_icon 'visualizar', admin_users_path %>
  <% end %>

  <h3>Atualmente existem <%= @users.count %> usuários cadastrado no sistema | <%= link_to 'Novo Usuário', new_admin_user_path %></h3>
</div>




