<% title "Usuários" %>

<% content_for :breadcrumb do %>
  <li><%= link_to "Home", admin_root_path %> <span class="divider">/</span></li>
  <li class="active">Usuários</li>
<% end %>

<div class="users">
  <%= content_tag :h1 do %>
    <%= image_tag("projects_icons/usuarios.png",{ :title => "Usuarios" }) %>
    <%= t('users') %>
    <%= link_to_icon 'novo', new_admin_user_path %>
  <% end %>
  <% @users.each do |user| %>
    <div class="task <%= cycle('odd', 'even') %>">
      <div class="person-name"><%= image_tag avatar_url(user, 25, "small") %> - <%= user.name %></div>
      <div class="task-title"><%= t("tasks_count") %> - <%= user.tasks.count %></div>
      <div class="time" datetime="<%= user.created_at %>">Membro desde: <%= user.member_since %></div>
      <%= link_to_icon 'visualizar', [:admin, user] %>
      <%= link_to_icon 'editar', edit_admin_user_path(user) %>
      <%= link_to_icon "deletar", [:admin, user], :method => :delete, :confirm => t('delete') %>
    </div>
  <% end %>

</div>
