<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="header_wrapper">
      <div class="logo">
        <%= link_to image_tag("logo_header.png"), root_url %>
      </div>
      <div id="login_user_status">
        <% if user_signed_in? %>
          <%= image_tag avatar_url(current_user, 25, "small") %>
          <%= current_user.name  %>|
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <em>Not Signed in.</em>
          <%= link_to 'Sign in', new_user_session_path%> or <%= link_to 'Sign up', new_user_registration_path%>
        <% end %>
      </div>
    </div>
    <ul id="menu">
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "HOME", root_path %></li>
      <%= admins_only do %>
        <li><%= link_to "Administração", admin_root_path %></li>
      <% end %>
    </ul>
    <div id="container">
      <ul class="submenu">
        <%= yield :breadcrumb %>
      </ul>
      <%= flash_messages %>
      <% content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
